numpy==1.17.4
pyopengl==3.1.5
git+git://github.com/Amulet-Team/Amulet-Core.git
git+git://github.com/Amulet-Team/Amulet-NBT.git
git+git://github.com/gentlegiantJGC/PyMCTranslate.git
git+git://github.com/gentlegiantJGC/Minecraft-Model-Reader.git