# if the below doesn't work please find an alternative from here: https://extras.wxpython.org/wxPython4/extras/linux/gtk3/
https://extras.wxpython.org/wxPython4/extras/linux/gtk3/ubuntu-18.04/wxPython-4.1.0-cp37-cp37m-linux_x86_64.whl
-r requirements_base.txt